
.masthead {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    border: black dotted;
}

.pdfContainer {
    height: 750px,;
    border: 1px solid, rgba(0,0,0,0.3)
}

.medium-box {
    width: 100vw;
}

.medium-posts {
    display: flex;
    justify-content: space-evenly;
}

.medium-slice {
    border: solid black;
    padding: 10px;
    margin: 10px;
}


.post-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-content {
    margin-bottom: 20px;
}